body {
    min-height: 130%;
    background-image: url("../images/events.jpg");
    text-align: center;
}

.row {
    display: block;
    flex-wrap: wrap;
    padding: 0 4px;
}


.column {
    margin-top: 8px;
}

h2{
    text-align: center;
    color: white;
}

h3 {
    text-align: center;
    color: white;
}

p{
    text-align: center;
    color: white;
}

p1 {
    text-align: center;
    color: white;
}