body {
    background-color: black;
    color: white;
}

* {
    box-sizing: border-box;
}

.row {
    display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
    flex: 10%;
    padding: 10px;
}

