{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'app/content/about.css' %}" />

<p>Alex Rook has been at the forefront of the Techno scene in Austin, Tx since 2014. DJ Alex Rook started out as a promoter for Real Music Events, where he attracted crowds of 500 ravers to Kingdom Nightclub selling out the nightclub on a weekly basis.  Aside from promoting Alex Rook also performed at Kingdom, Republic Live and music festivals. 
Alex Rook has opened for Dubfire, Dusky, and Nicole Moudaber. </p>

{% endblock %}